.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems a {
  color: white;
}

.dialog a {
  text-decoration: none;
  color: white;
}
.dialog a:visited {
  color: white;
}

.active a {
  color: red;
}

.messages {
  padding: 10px;
}

.message {
  color: white;
}
